<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome"/>
  <test thread-count="5" name="Test" parallel="methods">
      <classes>
      <class name="m01_2019.Sprint1.Tests">
      	<methods>
      		<include name="recaptcha"></include></methods></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
